th {
    background-color: lightgrey;
    padding-left: 4px;
    padding-right: 6px;
    border: solid 1px black;
}
table {
    border-collapse: collapse;
    border: solid 1px black;
}
tr:hover {
    background-color: #FAF;
}

footer#bottom {
    border-top: #333 1px dotted;
    margin: 1em 0em;
}
